<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/css/slideShow.css">
    <div class="w3-content w3-display-container">
        <img class="mySlides" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ar019-002gu6dmoqp1ek70otfhg1minfrlqlp-1555940486.jpg?crop=0.973xw:0.893xh;0,0.0255xh&resize=980:*" style="width:100%">
        <img class="mySlides" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/bmw-m240i-xdrive-1548878106.jpg?crop=1.00xw:0.918xh;0,0.0842xh&resize=980:*" style="width:100%">
        <img class="mySlides" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2019-chevrolet-camaro-2ss-10at-104-1544548407.jpg?crop=0.781xw:0.780xh;0.131xw,0.220xh&resize=980:*" style="width:100%">
        <img class="mySlides" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/img-1236-1555953308.jpg?crop=1.00xw:0.918xh;0,0.0842xh&resize=980:*" style="width:100%">

        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>
<script src="~/js/slideShow.js"></script>