@model ICollection<PartViewModel>;
@{
    ViewData["Title"] = "Shop Page";
}
<div class="text-center">
    <h1 class="display-4">Parts</h1>
</div>

<div class="container mb-3">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/ShopPage.css">
</div>

<body>
    <form class="example" action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <div class="row mt-5 mb-4">
        @if (!Model.Any())
        {
            <h3>There are no part for the given model</h3>
        }
        else
        {
            @foreach (var part in Model)
            {
                <div class="card col-6 col-lg-3 mr-2 game-card">
                    <img src="@part.ImageUrl"
                         class="card-img-top img-fluid card-image rounded" data-toggle="tooltip"
                         data-placement="bottom" title="car.Year car.Model">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center">@part.Name</li>
                        </ul>
                        <p style="margin:auto;margin-top:15px">Quantity:@part.Quantity</p><p style="margin:auto;margin-bottom:15px">Price:@part.Price $</p>
                        <a href="/Parts/Info?id=@part.Id" class="btn btn-block btn-primary">Part Info</a>
                    </div>
                </div>
            }
        }
    </div>
</body>